In [1]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("rulesDataset.csv")
df.head()

,Residence_city,Socioeconomic_level,Civil_status,Age,State,Province,Vulnerable_group,Desired_program,Family_income,Father_level,Mother_level,STEM_subjects,H_subjects,Dropout
0,LOCAL,2,Married,36,LOCAL,LOCAL,2,UNSPECIFIED,1200000,HIGH SCHOOL,HIGH SCHOOL,46.7,51.5,YES
1,LOCAL,2,Unmarried,38,LOCAL,LOCAL,2,UNSPECIFIED,4500000,HIGH SCHOOL,HIGH SCHOOL,43.0,45.2,YES
2,LOCAL,2,Unmarried,33,LOCAL,NEIGHBOR,2,UNSPECIFIED,1800000,HIGH SCHOOL,UNDERGRADUATE,42.5,49.8,NO
3,LOCAL,3,Unmarried,27,LOCAL,LOCAL,2,UNSPECIFIED,5000000,HIGH SCHOOL,TECHNOLOGIST,45.9,42.1,YES
4,LOCAL,3,Unmarried,30,LOCAL,LOCAL,2,UNSPECIFIED,1500000,HIGH SCHOOL,HIGH SCHOOL,45.3,47.8,YES

In [3]:
df.columns

Index(['Residence_city', 'Socioeconomic_level', 'Civil_status', 'Age', 'State',
       'Province', 'Vulnerable_group', 'Desired_program', 'Family_income',
       'Father_level', 'Mother_level', 'STEM_subjects', 'H_subjects',
       'Dropout'],
      dtype='object')

In [4]:
df.shape

(274, 14)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Residence_city       274 non-null    object
 1   Socioeconomic_level  274 non-null    int64
 2   Civil_status         274 non-null    object
 3   Age                  274 non-null    int64
 4   State                274 non-null    object
 5   Province             274 non-null    object
 6   Vulnerable_group     274 non-null    int64
 7   Desired_program      274 non-null    object
 8   Family_income        274 non-null    int64
 9   Father_level         274 non-null    object
 10  Mother_level         274 non-null    object
 11  STEM_subjects        274 non-null    float64
 12  H_subjects           274 non-null    float64
 13  Dropout              274 non-null    object
dtypes: float64(2), int64(4), object(8)
memory usage: 30.1+ KB

In [6]:
df.Dropout.value_counts(normalize=True).plot(kind="bar")

In [7]:
df.Residence_city.value_counts()

LOCAL       253
NEIGHBOR     17
FOREIGN       4
Name: Residence_city, dtype: int64

In [8]:
res_list={'LOCAL':1,'NEIGHBOR':2,'FOREIGN':3}
df.Residence_city=[res_list[item]for item in df.Residence_city]
df.Residence_city.value_counts()

1    253
2     17
3      4
Name: Residence_city, dtype: int64

In [6]:
df.Socioeconomic_level.value_counts()

2    95
3    76
1    75
4    26
6     1
5     1
Name: Socioeconomic_level, dtype: int64

In [7]:
df.Civil_status.value_counts()

Unmarried     263
Married         5
Free union      5
Separated       1
Name: Civil_status, dtype: int64

In [8]:
civil_list={'Unmarried':1,'Married':2,'Free union':3,'Separated':4}
df.Civil_status=[civil_list[item]for item in df.Civil_status]
df.Civil_status.value_counts()

1    263
2      5
3      5
4      1
Name: Civil_status, dtype: int64

In [9]:
df.State.value_counts()

LOCAL       250
NEIGHBOR     15
FOREIGN       9
Name: State, dtype: int64

In [10]:
state_list={'LOCAL':1,'NEIGHBOR':2,'FOREIGN':3}
df.State=[state_list[item]for item in df.State]
df.State.value_counts()

1    250
2     15
3      9
Name: State, dtype: int64

In [11]:
df.Province.value_counts()

LOCAL       195
NEIGHBOR     55
FOREIGN      24
Name: Province, dtype: int64

In [12]:
prov_list={'LOCAL':1,'NEIGHBOR':2,'FOREIGN':3}
df.Province=[prov_list[item]for item in df.Province]
df.Province.value_counts()

1    195
2     55
3     24
Name: Province, dtype: int64

In [13]:
df.Desired_program.value_counts()

UNSPECIFIED                         237
INFORMATIC ENGINEERING               34
ELECTRONIC AUTOMATION TECHNOLOGY      3
Name: Desired_program, dtype: int64

In [14]:
des_list={'UNSPECIFIED':1,'INFORMATIC ENGINEERING':2,'ELECTRONIC AUTOMATION TECHNOLOGY':3}
df.Desired_program=[des_list[item]for item in df.Desired_program]
df.Desired_program.value_counts()

1    237
2     34
3      3
Name: Desired_program, dtype: int64

In [15]:
df.Father_level.value_counts()

UNDERGRADUATE     78
HIGH SCHOOL       73
PRIMARY SCHOOL    72
TECHNICAL         41
TECHNOLOGIST       9
UNREGISTERED       1
Name: Father_level, dtype: int64

In [16]:
fat_list={'UNDERGRADUATE':1,'HIGH SCHOOL':2,'PRIMARY SCHOOL':3,'TECHNICAL':4,'TECHNOLOGIST':5,'UNREGISTERED':6}
df.Father_level=[fat_list[item]for item in df.Father_level]
df.Father_level.value_counts()

1    78
2    73
3    72
4    41
5     9
6     1
Name: Father_level, dtype: int64

In [17]:
df.Mother_level.value_counts()

HIGH SCHOOL       86
UNDERGRADUATE     79
PRIMARY SCHOOL    55
TECHNICAL         43
TECHNOLOGIST      10
UNREGISTERED       1
Name: Mother_level, dtype: int64

In [18]:
mot_list={'UNDERGRADUATE':1,'HIGH SCHOOL':2,'PRIMARY SCHOOL':3,'TECHNICAL':4,'TECHNOLOGIST':5,'UNREGISTERED':6}
df.Mother_level=[mot_list[item]for item in df.Mother_level]
df.Mother_level.value_counts()

2    86
1    79
3    55
4    43
5    10
6     1
Name: Mother_level, dtype: int64

In [19]:
df.Dropout.value_counts()

NO     146
YES    128
Name: Dropout, dtype: int64

In [20]:
drop_list={'NO':0,'YES':1}
df.Dropout=[drop_list[item]for item in df.Dropout]
df.Dropout.value_counts()

1    146
2    128
Name: Dropout, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Residence_city       274 non-null    int64
 1   Socioeconomic_level  274 non-null    int64
 2   Civil_status         274 non-null    int64
 3   Age                  274 non-null    int64
 4   State                274 non-null    int64
 5   Province             274 non-null    int64
 6   Vulnerable_group     274 non-null    int64
 7   Desired_program      274 non-null    int64
 8   Family_income        274 non-null    int64
 9   Father_level         274 non-null    int64
 10  Mother_level         274 non-null    int64
 11  STEM_subjects        274 non-null    float64
 12  H_subjects           274 non-null    float64
 13  Dropout              274 non-null    int64
dtypes: float64(2), int64(12)
memory usage: 30.1 KB

In [22]:
lis_corr=df[df.columns].corr()['Dropout'][:]
lis_corr

Residence_city         0.247333
Socioeconomic_level   -0.155874
Civil_status          -0.029777
Age                    0.063390
State                  0.063283
Province               0.021520
Vulnerable_group      -0.044372
Desired_program       -0.127752
Family_income         -0.041973
Father_level           0.050505
Mother_level           0.094329
STEM_subjects         -0.250015
H_subjects            -0.158715
Dropout                1.000000
Name: Dropout, dtype: float64

In [23]:
X = df.drop('Dropout', axis = 1)
y = df['Dropout']
print(X.shape)
print(y.shape)

(274, 13)
(274,)

In [24]:
from sklearn.ensemble import RandomForestClassifier
rdc=RandomForestClassifier()

rdc.fit(X,y)

RandomForestClassifier()

In [25]:
ypred=rdc.predict(X)

In [27]:
X.head()

,Residence_city,Socioeconomic_level,Civil_status,Age,State,Province,Vulnerable_group,Desired_program,Family_income,Father_level,Mother_level,STEM_subjects,H_subjects
0,1,2,2,36,1,1,2,1,1200000,2,2,46.7,51.5
1,1,2,1,38,1,1,2,1,4500000,2,2,43.0,45.2
2,1,2,1,33,1,2,2,1,1800000,2,1,42.5,49.8
3,1,3,1,27,1,1,2,1,5000000,2,5,45.9,42.1
4,1,3,1,30,1,1,2,1,1500000,2,2,45.3,47.8

In [34]:
new_input = [[1,2,2,42,1,1,2,1,1200000,2,2,46.7,51.5]]
new_output = rdc.predict(new_input)
print(new_input, new_output)

[[1, 2, 2, 42, 1, 1, 2, 1, 1200000, 2, 2, 46.7, 51.5]] [2]

c:\Users\saurav\Anaconda3\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [29]:
import pickle
with open('dropout_file.pkl', 'wb') as file:
  # dump information to that file
  pickle.dump(rdc, file)

In [ ]:
# rdc.predict(new_input)

# on-hot encoding model building

In [10]:
df.head()

,Residence_city,Socioeconomic_level,Civil_status,Age,State,Province,Vulnerable_group,Desired_program,Family_income,Father_level,Mother_level,STEM_subjects,H_subjects,Dropout
0,LOCAL,2,Married,36,LOCAL,LOCAL,2,UNSPECIFIED,1200000,HIGH SCHOOL,HIGH SCHOOL,46.7,51.5,YES
1,LOCAL,2,Unmarried,38,LOCAL,LOCAL,2,UNSPECIFIED,4500000,HIGH SCHOOL,HIGH SCHOOL,43.0,45.2,YES
2,LOCAL,2,Unmarried,33,LOCAL,NEIGHBOR,2,UNSPECIFIED,1800000,HIGH SCHOOL,UNDERGRADUATE,42.5,49.8,NO
3,LOCAL,3,Unmarried,27,LOCAL,LOCAL,2,UNSPECIFIED,5000000,HIGH SCHOOL,TECHNOLOGIST,45.9,42.1,YES
4,LOCAL,3,Unmarried,30,LOCAL,LOCAL,2,UNSPECIFIED,1500000,HIGH SCHOOL,HIGH SCHOOL,45.3,47.8,YES

In [11]:
encode = ['Residence_city','Civil_status','State','Province','Desired_program','Father_level','Mother_level']
for col in encode:
    dummy = pd.get_dummies(df[col], prefix=col)
    df = pd.concat([df,dummy], axis=1)
    del df[col]

In [12]:
df

,Socioeconomic_level,Age,Vulnerable_group,Family_income,STEM_subjects,H_subjects,Dropout,Residence_city_FOREIGN,Residence_city_LOCAL,Residence_city_NEIGHBOR,...,Father_level_TECHNICAL,Father_level_TECHNOLOGIST,Father_level_UNDERGRADUATE,Father_level_UNREGISTERED,Mother_level_HIGH SCHOOL,Mother_level_PRIMARY SCHOOL,Mother_level_TECHNICAL,Mother_level_TECHNOLOGIST,Mother_level_UNDERGRADUATE,Mother_level_UNREGISTERED
0,2,36,2,1200000,46.7,51.5,YES,0,1,0,...,0,0,0,0,1,0,0,0,0,0
1,2,38,2,4500000,43.0,45.2,YES,0,1,0,...,0,0,0,0,1,0,0,0,0,0
2,2,33,2,1800000,42.5,49.8,NO,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,3,27,2,5000000,45.9,42.1,YES,0,1,0,...,0,0,0,0,0,0,0,1,0,0
4,3,30,2,1500000,45.3,47.8,YES,0,1,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
269,3,22,2,1500000,45.0,43.8,NO,0,1,0,...,0,0,1,0,0,0,0,0,1,0
270,1,22,2,3000000,57.8,37.0,YES,0,1,0,...,0,0,1,0,0,0,1,0,0,0
271,3,21,2,2000000,55.8,41.3,NO,0,1,0,...,0,0,1,0,0,0,0,0,1,0
272,3,21,2,4000000,64.3,66.8,YES,0,1,0,...,0,0,1,0,0,0,0,0,1,0
273,1,26,2,0,44.9,43.5,YES,0,1,0,...,0,0,0,1,0,0,0,0,0,1

In [13]:
drop_list={'NO':0,'YES':1}
df.Dropout=[drop_list[item]for item in df.Dropout]
df.Dropout.value_counts()

0    146
1    128
Name: Dropout, dtype: int64

In [14]:
X = df.drop('Dropout', axis = 1)
y = df['Dropout']
print(X.shape)
print(y.shape)

(274, 34)
(274,)

In [15]:
from sklearn.ensemble import RandomForestClassifier
rdc=RandomForestClassifier()

rdc.fit(X,y)

RandomForestClassifier()

In [16]:
ypred=rdc.predict(X)

In [17]:
print(X.columns)

Index(['Socioeconomic_level', 'Age', 'Vulnerable_group', 'Family_income',
       'STEM_subjects', 'H_subjects', 'Residence_city_FOREIGN',
       'Residence_city_LOCAL', 'Residence_city_NEIGHBOR',
       'Civil_status_Free union', 'Civil_status_Married',
       'Civil_status_Separated', 'Civil_status_Unmarried', 'State_FOREIGN',
       'State_LOCAL', 'State_NEIGHBOR', 'Province_FOREIGN', 'Province_LOCAL',
       'Province_NEIGHBOR', 'Desired_program_ELECTRONIC AUTOMATION TECHNOLOGY',
       'Desired_program_INFORMATIC ENGINEERING', 'Desired_program_UNSPECIFIED',
       'Father_level_HIGH SCHOOL', 'Father_level_PRIMARY SCHOOL',
       'Father_level_TECHNICAL', 'Father_level_TECHNOLOGIST',
       'Father_level_UNDERGRADUATE', 'Father_level_UNREGISTERED',
       'Mother_level_HIGH SCHOOL', 'Mother_level_PRIMARY SCHOOL',
       'Mother_level_TECHNICAL', 'Mother_level_TECHNOLOGIST',
       'Mother_level_UNDERGRADUATE', 'Mother_level_UNREGISTERED'],
      dtype='object')

In [18]:
import pickle
with open('dropout_file.pkl', 'wb') as file:
  # dump information to that file
  pickle.dump(rdc, file)